
/*
  STYLE.CSS
  The true hero of the story.
*/





/* >>>>>>>>>>>>>>>>>>> All <<<<<<<<<<<<<<<<<<< */


  /* ------- Header ------- */

.group {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #031D44;
  width: 100%;
}

header h1 {
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  Background-size: cover;
  color: #EAE2B7;
  font-family: 'Power Lord', cursive;
  padding: 0 50px 0 0;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0 50px 0 0;
}

header nav ul li a {
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  Background-size: cover;
  color: #EAE2B7;
  font-family: 'Bangers', cursive;
  list-style: none;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav ul li a:hover {
  background-image: url(images/backgrounds/action-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  Background-size: cover;
  color: #EAE2B7;
  font-family: 'Bangers', cursive;
  list-style: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


  /* ------- Body ------- */

.about {
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  Background-size: cover;
  border: 10px solid black;
  height: 100%;
  width: 95%;
}

body {
  background: radial-gradient(white, #D3CCC0);
}

.badges-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bio {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.button {
  Margin: 40px 0 0 0;
}

.change {
  cursor: pointer;
}

.constrimage {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  align-items: center;
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  Background-size: cover;
  border: 10px solid black;
  color: #031D44;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.contact form {
  align-items: center;
  background: #031D44;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 20px 0;
  padding: 20px;
  text-align: left;   
}

.contact form button {
  background-image: linear-gradient(to right, #A98561, #EADCCF, #A98561);
  background-size: cover;
  border: 3px solid #E7D8C9;
  border-radius: 10px;
  color: #031D44;
  font-family: "Power Lord", cursive;
  font-size: 20px;
  height: 40px;
  margin: 20px 0 20px 0;
}

.contact form div {
  padding: 10px 10px 10px 15px;
}

.contact form h4 {
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #EAE2B7;
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  margin: 10px;
  padding: 0 10px 0 0;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact form input {
  background-color: #031D44;
  border: 3px solid #E7D8C9;
  border-radius: 10px;
  color: #E7D8C9;
  font-family: "Power Lord", cursive;
  height: 40px;
  padding: 0 0 0 10px;
}

.contact form label {
  color: #E7D8C9;
  font-family: "Permanent Marker", cursive;
  font-size: 18px;
  margin: 10px;
}

.contact form textarea {
  background-color: #031D44;
  border: 3px solid #E7D8C9;
  border-radius: 10px;
  color: #E7D8C9;
  font-family: "Permanent Marker", cursive;
  font-size: 15px;
  height: 250px;
  padding: 10px 10px 10 20px;
}

.description {
  align-items: center;
  Display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blue .description a {
  
  color: #E7D8C9;
  font-family: "Power Lord", cursive;
  letter-spacing: 2px;
  text-decoration: none;
  
}
.blue .description a:hover {
  color: red;
}

.gold .description a {
  color: #031D44;
  font-family: "Power Lord", cursive;
  letter-spacing: 2px;
  text-decoration: none;
}
.gold .description a:hover {
  color: red;
}

.hi {
  color: #031D44;
  font-family: 'Bangers', cursive;
  text-align: left;
}

.hr {
  justify-content: center;
}

.hr img {
  height: 200px;
  width: 111%;
}

.intro {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.intro p {
  position: center;
  justify-content: center;
  text-align: center;
}

.linkicons {
  align-items: center;
  border-bottom: 2px solid #031D44;
  border-top: 2px solid #031D44;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0 0 0;
}

main {
  align-content: center;
  margin: 0 10% 0 10%;
}

main .about a {
  font-weight: 700;
  text-decoration: none;
}
main .about a:link { color: #2D00F7; }  
main .about a:visited { color: rgb(177, 9, 199); }
main .about a:hover {
  font-family: 'Power Lord SM';
  font-size: 15px;
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-size: 40px;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #031D44; 
}
main .about a:active {
  font-family: 'Power Lord SM';
  font-size: 15px;
  background-image: url(images/backgrounds/action-gradient.jpg);
  background-size: 40px;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main h1 {
  margin-top: 0;
  text-align: left;
}

main h2 {
  color: #031D44;
  font-family: 'Bangers', cursive;
  text-align: center; 
}

main p, li {
  color: #031D44;
  font-family: 'Permanent Marker', cursive;
}

.metalic {
  background-image: url(images/backgrounds/blue-gradient.jpg);
  background-position: right;
  background-size: cover;
  color: #031D44;
  margin-right: -0.4em;
  padding-right: 0.4em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #031D44;
  width: 100px;
}

.picture {
  background-image: url(images/backgrounds/action-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  Background-size: cover;
  border: 7px solid black;
  padding: 50px 0 0 0;
}

.project {
  align-items: center;
  border: 10px solid black;
  display: flex;
  height: 700px;
  justify-content: space-evenly;
  Margin: 10px 0 10px 0;
  width: 100%;
}

.project p {
  font-family: 'Karla', 'Times New Roman';
}

.projects h2 {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 10px;
  padding: 0 10px 0 0;
}
.projects .blue h2 {
  color: red;
}

.projects .gold h2 {
  color: #031D44;
}

.projects h3 {
  font-family: "Karla", cursive;
}
.projects .blue h3 {
  color: #E7D8C9;
}
.projects .gold h3 {
  color: #031D44;
}

.projects .blue p {
  color: #E7D8C9;
}

.projects .one, .three, .five {
  background-color: #031D44;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects .two, .four {
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.skills {
  background-image: url(images/backgrounds/blue-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid black;
  Margin: 10px 0 10px 0;
}

.skillSet {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.story {
  align-items: center;
  display: flex;
  flex-direction: column;
}


/* ------- Footer ------- */

footer {
  background-color: #031D44;
  height: 80px;
  width: 100%;
}

footer h3 {
  color: #E7D8C9;
  font-family: 'Montserrat', cursive;
  font-size: 16px;
  margin: 0;
  padding: 30px;
  text-align: center;
}


/* ------- Under Construction Place Holder Site -------*/

.ucphs {
  background: black;
  height: 800px;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  position: absolute;
  top: 50%;
  width: 800px;
}


/* ------- Fonts ------- */

@font-face {
  font-family: 'Action Men';
  src: url(fonts/action-men.ttf);
}

@font-face {
  font-family: 'Karla';
  src: url(fonts/karla.ttf);
}

@font-face {
  font-family: 'Power Lord';
  src: url(fonts/power-lord.otf);
}

@font-face {
  font-family: 'Power Lord SM';
  src: url(fonts/power-lord-sm.otf);
}





/* >>>>>>>>>>>>>>>>>>> Extra Small Screens <<<<<<<<<<<<<<<<<<< */

@media all and (max-width: 394px) {


  /* ------- Header ------- */

  header h1 {
    font-size: 24px;
    margin: 25px 50px 0 75px;
  }

  header nav ul {
    margin: 40px 0 0 40px;
  }

  header nav ul li a {
    padding: 0 20px 0 20px;
    font-size: 14px;
  }


  /* ------- Main ------- */

  .about img {
    width: 98%;
  }

  .button {
    font-size: 8px;
  }

  .contact form {
    margin-left: 1%;
    width: 80%;
  }

  .contact form {
    width: 80%;
  }

  .contact form button {
    width: 100%;
  }

  .contact form h4 {
    font-size: 2rem;
  }

  .contact form input {
    border-radius: 6px;
    font-family: 'Karla';
    font-size: 10px;
    height: 20px;
    padding-left: 5px;
    width: 88%;
  }

  .contact form label {
    font-size: 12px;
    margin-left: 0;
  }

  .contact form textarea {
    font-size: 12px;
    padding-left: 5px;
    width: 88%;
  }

  .description {
    margin-left: 10%;
    width: 80%;
  }

  .blue .description a {
    font-size: 12px; 
    padding: 0px 6px 0px 6px;
  }

  .gold .description a {
    font-size: 12px;
    padding: 0px 6px 0px 6px; 
  }

  .linkicons {
    padding: 10px 0px 6px 12px;
    width: 90%;
  }

  .linkicons img {
    width: 75%;
  }

  main h1 {
    font-size: 16px;
  }

  .picture {
    margin-top: 20px;
    width: 80%;
  }

  .projects img {
    width: 80%;
    padding: 0px 0 0 25px; 
  }

  .skills img {
    width: 80%;
    margin: 20px 0 20px 0;
  }

  .skillSet {
    padding: 5px 45px 5px 0;
    width: 50%;
  }

  .story {
    margin-top: 40px;
    width: 80%;
  }

}

/* >>>>>>>>>>>>>>>>>>> Small Screens <<<<<<<<<<<<<<<<<<< */

@media all and (min-width: 395px) and (max-width: 594px) {


  /* ------- Header ------- */

  header {
    height: 180px;
  }

  header h1 {
    font-size: 36px;
    margin: 25px 50px 0 75px;
  }

  header nav ul {
    margin: 40px 0 0 50px;
  }

  header nav ul li a {
    padding: 0 20px 0 20px;
    font-size: 18px;
  }

  header nav ul li a:hover {
    font-size: 18px;
  }

    
  /* ------- Main ------- */

  .about img {
    width: 98%;
  }

  .bio {
    padding: 50px 35px 50px 35px;
  }

  .contact {
    width: 95%;
  }

  .contact form {
    width: 250px;
  }

  .contact form button {
    width: 240px;
  }

  .contact form input {
    height: 40px;
    width: 220px;
  }

  .contact form textarea {
    width: 225px;
  }

  .description {
    width: 250px;
  }

  .blue .description a {
    font-size: 16px; 
    padding: 0px 10px 0px 10px;
  }

  .gold .description a {
    font-size: 16px;
    padding: 0px 10px 0px 10px; 
  }

  .hi {
    font-size: 20px;
  }

  .intro {
    margin: 0 50px 0 0;
    width: 330px;
  }

  .linkicons {
    padding: 10px 0px 6px 12px;
    width: 90%;
  }

  .linkicons img {
    width: 75%;
  }

  main h1 {
    font-size: 20px;
  }

  main h2 {
    font-size: 48; 
  }

  main li {
    font-size: 15px;
  }

  main p {
    font-size: 15px;
  }

  .picture {
    height: 250px;
    width: 200px;
  }

  .projects .blue p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .projects .gold p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .projects {
    width: 95%;
  }

  .projects img {
    width: 80%;
    padding: 0px 0 0 25px; 
  }

  .projects .skillSet img {
    width: 50%;
    padding: 0 30px 0 30px;
  }

  .skills {
    height: 210px;
    width: 95%;
  }

  .skills img {
    width: 75%;
    margin: 45px 10px 0 10px;
  }

  .skillSet {
    padding: 10px 40px 6px 0;
    width: 50%;
  }

  .story {
    height: 1000px;
    padding: 50px 0 0 0;
    width: 250px;
  }
  

  .ucphs img {
    background: black;
    height: 400px;
    left: 85%;
    margin-top: -400px;
    margin-left: -400px;
    position: absolute;
    top: 75%;
    width: 400px;
  }

}




/* >>>>>>>>>>>>>>>>>>> Medium Screens <<<<<<<<<<<<<<<<<<< */

@media all and (min-width: 595px) and (max-width: 900px) {

  /* ------- Header ------- */

  header {
    height: 200px;
  }

  header h1 {
    font-size: 36px;
    margin: 50px;
  }

  header nav {
    font-size: 20px;
  }

  header nav ul li a {
    padding: 0 20px 0 20px;
    font-size: 24px;
  }

  header nav ul li a:hover {
    font-size: 24px;
  }

    
  /* ------- Main ------- */

  .about {
    height: 1600px;
    width: 100%;
  }

  .about img {
    margin: 0 0 0 15px;
    width: 95%;
  }

  .bio {
    padding: 70px 0 0 0;
  }

  .contact {
    width: 100%;
  }

  .contact form {
    width: 450px;
  }

  .contact form button {
    width: 400px;
  }

  .contact form input {
    font-size: 15px;
    width: 400px;
  }

  .contact form textarea {
    width: 405px;
  }

  .description {
    width: 300px;
    margin-bottom: 40px;
  }

  .blue .description a {
    font-size: 18px;
    margin-bottom: 50px;
    padding: 0 15px 0 15px;
  }

  .gold .description a {
    font-size: 18px;
    padding: 0 15px 0 15px;
  }

  .hi {
    font-size: 24px;
  }

  .intro {
    margin: 0 30% 0 30%;
    width: 40%;
  }

  .linkicons {
    padding: 10px 0px 6px 75px;
    width: 55%;
  }

  .linkicons img {
    width: 50%;
  }

  main h1 {
    font-size: 30px;
  }

  main h2 {
    font-size: 36px;
  }

  .picture {
    height: 80%;
    width: 80%;
    justify-content: center;
  }

  .project {
    height: 100%;
  }

  .projects img {
    width: 95%;
  }

  .projects .skillSet img {
    width: 50%
  }

  .skills {
    height: 100%;
    width: 100%;
  }

  .skills img {
    width: 50%;
    margin: 160px;
  }

  .skillSet {
    padding: 10px 0px 6px 40px;
    width: 55%;
  }

  .story {
    width: 80%;
    margin-top: 50px;
  }

}





/* >>>>>>>>>>>>>>>>>>> large Screens <<<<<<<<<<<<<<<<<<< */

@media all and (min-width: 901px) and (max-width: 1550px) {

  /* ------- Header ------- */

  header {
    height: 250px;
  }

  header h1 {
    font-size: 60px;
    margin: 50px;
  }

  header nav {
    font-size: 20px;
  }

  header nav ul li a {
    padding: 0 50px 0 50px;
    font-size: 36px;
  }

  header nav ul li a:hover {
    font-size: 24px;
  }

    
  /* ------- Main ------- */

  .about {
    height: 100%;
    width: 100%;
  }

  .about img {
    margin: 0 0 0 15px;
    width: 90%;
  }

  .bio {
    padding: 70px 0 0 0;
  }

  .contact {
    width: 100%;
  }

  .contact form {
    width: 450px;
  }

  .contact form button {
    width: 400px;
  }

  .contact form input {
    font-size: 15px;
    width: 400px;
  }

  .contact form textarea {
    width: 405px;
  }

  .description {
    margin: 40px 0 40px 0;
    width: 300px;
  }

  .blue .description a {
    font-size: 18px;
    padding: 0 15px 0 15px;
  }

  .gold .description a {
    font-size: 18px;
    padding: 0 15px 0 15px;
  }

  .hi {
    font-size: 24px;
  }

  .intro {
    margin: 0 30% 0 30%;
    width: 40%;
  }

  .linkicons {
    padding: 10px 0px 6px 75px;
    width: 55%;
  }

  .linkicons img {
    width: 50%;
  }

  main h1 {
    font-size: 36px;
  }

  main h2 {
    font-size: 48px;
  }

  .picture {
    height: 80%;
    width: 35%;
    justify-content: center;
  }

  .project {
    height: 100%;
  }

  .projects img {
    margin: 40px 0 40px 0;
    width: 75;
  }

  .projects .skillSet img {
    width: 50%
  }

  .skills {
    height: 100%;
    width: 100%;
  }

  .skills img {
    width: 50%;
    margin: 160px;
  }

  .skillSet {
    padding: 10px 0px 6px 40px;
    width: 55%;
  }

  .story {
    width: 80%;
    margin-bottom: 50px;
  }

}


/* >>>>>>>>>>>>>>>>>>> Extra Large Screens <<<<<<<<<<<<<<<<<<< */

@media all and (min-width: 1550px) {


  /* ------- Header ------- */

  header {
    height: 250px;
  }

  header h1 {
    font-size: 60px;
    margin: 50px;
  }

  header nav {
    font-size: 20px;
  }

  header nav ul li a {
    font-size: 36px;
    padding: 0 100px 0 100px;
  }

  header nav ul li a:hover {
    font-size: 36px;
  }

    
  /* ------- Main ------- */

  .about {
    height: 850px;
    width: 100%;
  }

  .about img {
    margin: 0 0 0 15px;
    width: 95%;
  }

  .bio {
    padding: 70px 0 0 0;
  }

  .contact {
    width: 100%;
  }

  .contact form {
    width: 450px;
  }

  .contact form button {
    width: 400px;
  }

  .contact form input {
    font-size: 15px;
    width: 400px;
  }

  .contact form textarea {
    width: 405px;
  }

  .description {
    width: 600px;
  }

  .blue .description a {
    font-size: 24px;
    margin: 50px 50px 0 20px;
    padding: 40px 25px 10px 25px;
  }
 
  .gold .description a {
    font-size: 24px;
    margin: 50px 50px 0 20px;
    padding: 40px 25px 10px 25px;
  }

  .hi {
    font-size: 24px;
  }

  .intro {
    margin: 0 25% 0 30%;
    width: 500px;
  }

  .linkicons {
    padding: 10px 0px 6px 75px;
    width: 55%;
  }

  .linkicons img {
    width: 50%;
  }

  main h1 {
    font-size: 36px;
  }

  main h2 {
    font-size: 60px;
  }

  .picture {
    height: 650px;
    width: 500px;
  }

  .projects img {
    width: 100%;
  }

  .projects .skillSet img {
    width: 50%
  }

  .skills {
    height: 700px;
    width: 100%;
  }

  .skills img {
    width: 50%;
    margin: 160px;
  }

  .skillSet {
    padding: 10px 0px 6px 40px;
    width: 55%;
  }

  .story {
    width: 600px;
    height: 700px;
  }

}















  



