
/*
  STYLE.CSS
  The true hero of story.

  selector ( property: value; }

*/


/* ------- General Styles ------- */

Body {
  Margin: 0;
  background-color: #CED4DA;
}

header {
  height: 160px;
  background-color: #031D44;
  text-align: center;
}

section {
  padding: 0 30%;
  align-content: center;
  margin: 50px 0;
}

.logo {
  color: #EAE2B7;
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  Background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Power Lord', cursive;
  font-size: 48px;
  padding: 30px 0 0 0;
}

footer {
  background-color: #031D44;
}

/* ------- Type ------- */

h1 {
  margin-top: 0;
  font-size: 36px;
  text-align: left;
 }
h2 {
  color: #031D44;
  font-family: 'Bangers', cursive;
  font-size: 36;
  text-align: center; 
}

h3 {
  color: #EAE2B7;
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  font-size: 14px;
}

p, li {
  color: #031D44;
  font-family: 'Permanent Marker', cursive;
}

ol {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  column-count: 2;
  column-gap: 30px;
}

a {
  font-weight: 700;
  text-decoration: none;
}
a:link { color: rgb(77, 131, 201); }  
a:visited { color: rgb(177, 9, 199); }
a:hover {
  font-family: 'Power Lord SM';
  font-size: 15px;
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-size: 40px;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #031D44; 
}
a:active {
  font-family: 'Power Lord SM';
  font-size: 15px;
  background-image: url(images/backgrounds/action-gradient.jpg);
  background-size: 40px;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer h4 {
  color: #CED4DA;
  font-family: 'Montserrat', cursive;
  text-align: center;
  font-size: 16px;
  padding: 30px;
  margin: 0;
}

/* ------- Elements ------- */

img {
  width: 75%;
  border-radius: 15%;
  border: 3px solid;
  color: transparent;
  background-image: url(images/backgrounds/tan-gradient.jpg);
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 240px;
  height: 1px;
  Background-color: #031D44;
  Border: 1px solid #031D44;
  margin-top: 30px;
  margin-bottom: 20px;
}

.gold {
  color: #EAE2B7;
  background-image: url(images/backgrounds/tan-gradient.jpg);
  height: 100px;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #031D44;
  font-size: 36px;
}

.hi {
  font-family: 'Bangers', cursive;
  font-size: 24px;
  text-align: left;
  margin: 0;
}

@font-face {
  font-family: 'Power Lord';
  src: url(fonts/power-lord.otf);
}
@font-face {
  font-family: 'Action Men';
  src: url(fonts/action-men.ttf)
}
@font-face {
  font-family: 'Power Lord SM';
  src: url(fonts/power-lord-sm.otf)
}